.kid-wrapper {
    /* max-width: 700px;
    min-height: 600px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 125px;
    border: solid 2px blue;
  
  }
  


.kidImg {
    width: 1000px;
    max-height: 800px;
    margin: 10px;
  }